In [1]:
import pandas as pd

In [8]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')
    
def print_nulls(df):
    out = pd.Series({'Column': 'Percentage of nulls', '-----' : '-----'}
                   ).append(df.isnull().sum()*100/df.isnull().isnull().count())
   
    return print_full(out)

### About the Data

These are fuel estimates for vehicles done by the epa. I accessed the [data here](https://www.fueleconomy.gov/feg/download.shtml). The dictionary is available [here](https://www.fueleconomy.gov/feg/ws/index.shtml#vehicle).

In [2]:
df = pd.read_csv('vehicles.csv')

/home/owen/.conda/envs/MLOPS/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43156 entries, 0 to 43155
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        43156 non-null  float64
 1   barrelsA08       43156 non-null  float64
 2   charge120        43156 non-null  float64
 3   charge240        43156 non-null  float64
 4   city08           43156 non-null  int64
 5   city08U          43156 non-null  float64
 6   cityA08          43156 non-null  int64
 7   cityA08U         43156 non-null  float64
 8   cityCD           43156 non-null  float64
 9   cityE            43156 non-null  float64
 10  cityUF           43156 non-null  float64
 11  co2              43156 non-null  int64
 12  co2A             43156 non-null  int64
 13  co2TailpipeAGpm  43156 non-null  float64
 14  co2TailpipeGpm   43156 non-null  float64
 15  comb08           43156 non-null  int64
 16  comb08U          43156 non-null  float64
 17  combA08          43156 non-null  int64
 18  combA08U         43156 non-null  float64
 19  combE            43156 non-null  float64
 20  combinedCD       43156 non-null  float64
 21  combinedUF       43156 non-null  float64
 22  cylinders        42896 non-null  float64
 23  displ            42898 non-null  float64
 24  drive            41970 non-null  object
 25  engId            43156 non-null  int64
 26  eng_dscr         26675 non-null  object
 27  feScore          43156 non-null  int64
 28  fuelCost08       43156 non-null  int64
 29  fuelCostA08      43156 non-null  int64
 30  fuelType         43156 non-null  object
 31  fuelType1        43156 non-null  object
 32  ghgScore         43156 non-null  int64
 33  ghgScoreA        43156 non-null  int64
 34  highway08        43156 non-null  int64
 35  highway08U       43156 non-null  float64
 36  highwayA08       43156 non-null  int64
 37  highwayA08U      43156 non-null  float64
 38  highwayCD        43156 non-null  float64
 39  highwayE         43156 non-null  float64
 40  highwayUF        43156 non-null  float64
 41  hlv              43156 non-null  int64
 42  hpv              43156 non-null  int64
 43  id               43156 non-null  int64
 44  lv2              43156 non-null  int64
 45  lv4              43156 non-null  int64
 46  make             43156 non-null  object
 47  model            43156 non-null  object
 48  mpgData          43156 non-null  object
 49  phevBlended      43156 non-null  bool
 50  pv2              43156 non-null  int64
 51  pv4              43156 non-null  int64
 52  range            43156 non-null  int64
 53  rangeCity        43156 non-null  float64
 54  rangeCityA       43156 non-null  float64
 55  rangeHwy         43156 non-null  float64
 56  rangeHwyA        43156 non-null  float64
 57  trany            43145 non-null  object
 58  UCity            43156 non-null  float64
 59  UCityA           43156 non-null  float64
 60  UHighway         43156 non-null  float64
 61  UHighwayA        43156 non-null  float64
 62  VClass           43156 non-null  object
 63  year             43156 non-null  int64
 64  youSaveSpend     43156 non-null  int64
 65  guzzler          2546 non-null   object
 66  trans_dscr       15044 non-null  object
 67  tCharger         7978 non-null   object
 68  sCharger         912 non-null    object
 69  atvType          3915 non-null   object
 70  fuelType2        1711 non-null   object
 71  rangeA           1706 non-null   object
 72  evMotor          1158 non-null   object
 73  mfrCode          12348 non-null  object
 74  c240Dscr         114 non-null    object
 75  charge240b       43156 non-null  float64
 76  c240bDscr        108 non-null    object
 77  createdOn        43156 non-null  object
 78  modifiedOn       43156 non-null  object
 79  startStop        11467 non-null  object
 80  phevCity         43156 non-null  int64
 81  phevHwy          43156 non-null  int64
 82  phevComb         43156 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 27.0+ MB

In [4]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [9]:
print_nulls(df)

Column             Percentage of nulls
-----                            -----
barrels08                            0
barrelsA08                           0
charge120                            0
charge240                            0
city08                               0
city08U                              0
cityA08                              0
cityA08U                             0
cityCD                               0
cityE                                0
cityUF                               0
co2                                  0
co2A                                 0
co2TailpipeAGpm                      0
co2TailpipeGpm                       0
comb08                               0
comb08U                              0
combA08                              0
combA08U                             0
combE                                0
combinedCD                           0
combinedUF                           0
cylinders                     0.602465
displ                         0.597831
drive                          2.74817
engId                                0
eng_dscr                       38.1894
feScore                              0
fuelCost08                           0
fuelCostA08                          0
fuelType                             0
fuelType1                            0
ghgScore                             0
ghgScoreA                            0
highway08                            0
highway08U                           0
highwayA08                           0
highwayA08U                          0
highwayCD                            0
highwayE                             0
highwayUF                            0
hlv                                  0
hpv                                  0
id                                   0
lv2                                  0
lv4                                  0
make                                 0
model                                0
mpgData                              0
phevBlended                          0
pv2                                  0
pv4                                  0
range                                0
rangeCity                            0
rangeCityA                           0
rangeHwy                             0
rangeHwyA                            0
trany                        0.0254889
UCity                                0
UCityA                               0
UHighway                             0
UHighwayA                            0
VClass                               0
year                                 0
youSaveSpend                         0
guzzler                        94.1005
trans_dscr                     65.1404
tCharger                       81.5136
sCharger                       97.8867
atvType                        90.9283
fuelType2                      96.0353
rangeA                         96.0469
evMotor                        97.3167
mfrCode                        71.3875
c240Dscr                       99.7358
charge240b                           0
c240bDscr                      99.7497
createdOn                            0
modifiedOn                           0
startStop                       73.429
phevCity                             0
phevHwy                              0
phevComb                             0
dtype: object

In [15]:
df[['city08'
    , 'city08U'
    , 'cityA08'
    , 'cityA08U'
    , 'cityCD'
    , 'cityE'
    , 'cityUF']].describe()

,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF
count,43156.000000,43156.000000,43156.000000,43156.000000,43156.000000,43156.000000,43156.000000
mean,18.596510,6.786865,0.755306,0.617080,0.000500,0.438133,0.002354
std,8.531435,12.438950,5.869488,5.753763,0.038345,4.501560,0.035651
min,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,21.000000,15.717025,0.000000,0.000000,0.000000,0.000000,0.000000
max,150.000000,150.000000,145.000000,145.083500,5.350000,122.000000,0.927000

In [16]:
df[['UCity'
    , 'UCityA'
    , 'UHighway'
    , 'UHighwayA' ]].describe()

              UCity        UCityA      UHighway     UHighwayA
count  43156.000000  43156.000000  43156.000000  43156.000000
mean      23.528372      0.991406     34.687040      1.268237
std       12.112496      8.267662     11.819721      8.603163
min        0.000000      0.000000      0.000000      0.000000
25%       18.400000      0.000000     28.000000      0.000000
50%       21.600000      0.000000     33.333300      0.000000
75%       26.000000      0.000000     39.283200      0.000000
max      224.800000    207.262200    187.100000    173.143600

In [11]:
# Columns that I want

df[['make', 'model', 'year', 'engId', 'city08', '']]

             make                model  year  engId  city08
0      Alfa Romeo   Spider Veloce 2000  1985   9011      19
1         Ferrari           Testarossa  1985  22020       9
2           Dodge              Charger  1985   2100      23
3           Dodge  B150/B250 Wagon 2WD  1985   2850      10
4          Subaru     Legacy AWD Turbo  1993  66031      17
...           ...                  ...   ...    ...     ...
43151      Subaru               Legacy  1993  66030      19
43152      Subaru               Legacy  1993  66030      20
43153      Subaru           Legacy AWD  1993  66030      18
43154      Subaru           Legacy AWD  1993  66030      18
43155      Subaru     Legacy AWD Turbo  1993  66031      16

[43156 rows x 5 columns]

In [12]:
df.year.describe()

count    43156.000000
mean      2002.422606
std         11.594615
min       1984.000000
25%       1992.000000
50%       2003.000000
75%       2013.000000
max       2021.000000
Name: year, dtype: float64

In [33]:
df[df['charge240'] > 0].describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,440.000000,440.000000,440.0,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,...,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,3.070591,1.708235,0.0,5.986068,71.336364,70.375143,34.929545,34.877669,0.049060,39.793350,...,99.087325,49.953880,93.883811,49.438182,2017.597727,1200.568182,1.391818,20.843182,21.068182,20.847727
std,3.631715,2.603178,0.0,3.756052,42.398646,42.978911,41.855615,41.906882,0.377034,14.289673,...,60.894070,60.053129,48.364147,56.497635,2.495462,2046.365943,2.657428,26.366619,24.826044,25.473234
min,0.144000,0.000000,0.0,0.670000,16.000000,0.000000,0.000000,0.000000,0.000000,22.000000,...,19.359000,0.000000,27.300000,0.000000,2011.000000,-6250.000000,0.000000,0.000000,0.000000,0.000000
25%,0.192000,0.000000,0.0,3.000000,28.000000,27.332300,0.000000,0.000000,0.000000,28.000000,...,36.800000,0.000000,44.800000,0.000000,2016.000000,-250.000000,0.000000,0.000000,0.000000,0.000000
50%,0.276000,0.000000,0.0,4.000000,76.000000,73.150000,0.000000,0.000000,0.000000,35.000000,...,104.500000,0.000000,101.800000,0.000000,2018.000000,2250.000000,0.000000,0.000000,0.000000,0.000000
75%,5.995175,3.683142,0.0,10.000000,114.250000,114.555000,66.000000,66.024900,0.000000,48.000000,...,158.650000,93.750000,140.600000,100.300000,2020.000000,2750.000000,0.000000,35.000000,39.000000,37.000000
max,14.386492,18.311667,0.0,15.300000,150.000000,150.000000,145.000000,145.083500,5.350000,80.000000,...,224.800000,207.262200,187.100000,173.143600,2021.000000,3500.000000,9.600000,97.000000,81.000000,88.000000

In [35]:
df[df['cityE'] > 0].describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,463.000000,463.000000,463.0,463.000000,463.00000,463.000000,463.000000,463.000000,463.000000,463.000000,...,463.000000,463.000000,463.000000,463.000000,463.000000,463.000000,463.000000,463.000000,463.000000,463.000000
mean,2.937223,1.623377,0.0,5.688704,70.87689,66.879186,33.194384,33.145085,0.046623,40.838172,...,98.540042,47.472370,93.144491,46.982289,2016.738661,1115.010799,1.322678,19.807775,20.021598,19.812095
std,3.588125,2.564611,0.0,3.885982,41.61746,44.604261,41.501800,41.548869,0.367684,15.472921,...,59.775272,59.539047,47.643231,56.113347,4.504298,2085.010498,2.608066,26.098709,24.630243,25.241717
min,0.144000,0.000000,0.0,0.000000,16.00000,0.000000,0.000000,0.000000,0.000000,22.000000,...,19.359000,0.000000,27.300000,0.000000,1998.000000,-6250.000000,0.000000,0.000000,0.000000,0.000000
25%,0.192000,0.000000,0.0,3.000000,28.00000,25.500000,0.000000,0.000000,0.000000,28.174400,...,37.400000,0.000000,45.400000,0.000000,2016.000000,-500.000000,0.000000,0.000000,0.000000,0.000000
50%,0.282000,0.000000,0.0,4.000000,73.00000,55.220600,0.000000,0.000000,0.000000,36.000000,...,104.500000,0.000000,97.600000,0.000000,2018.000000,2000.000000,0.000000,0.000000,0.000000,0.000000
75%,5.728244,3.469579,0.0,9.500000,112.00000,112.000000,63.000000,63.411500,0.000000,50.000000,...,155.450000,90.450000,138.100000,97.450000,2020.000000,2750.000000,0.000000,34.000000,38.000000,36.000000
max,14.386492,18.311667,0.0,15.300000,150.00000,150.000000,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,187.100000,173.143600,2021.000000,3500.000000,9.600000,97.000000,81.000000,88.000000

In [37]:
df['fuelType1'].unique()

array(['Regular Gasoline', 'Premium Gasoline', 'Diesel', 'Natural Gas',
       'Electricity', 'Midgrade Gasoline'], dtype=object)

In [39]:
df['fuelType2'].unique()

array([nan, 'Natural Gas', 'E85', 'Propane', 'Electricity'], dtype=object)

In [40]:
df[df['fuelType1'] == 'Electricity'].describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,257.000000,257.0,257.0,257.000000,257.000000,257.000000,257.0,257.0,257.0,257.000000,...,257.000000,257.0,257.000000,257.0,257.000000,257.000000,257.000000,257.0,257.0,257.0
mean,0.218335,0.0,0.0,7.812840,103.891051,96.835161,0.0,0.0,0.0,35.009237,...,145.438144,0.0,131.397811,0.0,2015.642023,2201.361868,2.373930,0.0,0.0,0.0
std,0.074746,0.0,0.0,3.981239,24.221548,38.499826,0.0,0.0,0.0,12.405915,...,36.221914,0.0,26.235430,0.0,5.460464,1206.900769,3.124319,0.0,0.0,0.0
min,0.144000,0.0,0.0,0.000000,28.000000,0.000000,0.0,0.0,0.0,22.000000,...,35.851100,0.0,39.186000,0.0,1998.000000,-6000.000000,0.000000,0.0,0.0,0.0
25%,0.180000,0.0,0.0,4.000000,88.000000,86.098200,0.0,0.0,0.0,27.155900,...,119.000000,0.0,120.600000,0.0,2014.000000,2000.000000,0.000000,0.0,0.0,0.0
50%,0.198000,0.0,0.0,8.000000,105.000000,104.231400,0.0,0.0,0.0,32.185800,...,149.600000,0.0,135.600000,0.0,2017.000000,2500.000000,0.000000,0.0,0.0,0.0
75%,0.228000,0.0,0.0,12.000000,124.000000,124.000000,0.0,0.0,0.0,38.000000,...,176.500000,0.0,145.500000,0.0,2019.000000,2750.000000,4.750000,0.0,0.0,0.0
max,0.726000,0.0,0.0,15.300000,150.000000,150.000000,0.0,0.0,0.0,122.000000,...,224.800000,0.0,187.100000,0.0,2021.000000,3500.000000,9.600000,0.0,0.0,0.0

In [41]:
df[df['fuelType2'] == 'Electricity'].describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,206.000000,206.000000,206.0,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,...,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000
mean,6.329233,3.648658,0.0,3.038689,29.689320,29.506926,74.606796,74.495991,0.104788,48.110194,...,40.031245,106.697609,45.420689,105.596117,2018.106796,-240.291262,0.011165,44.519417,45.000000,44.529126
std,2.859847,2.719785,0.0,1.235068,9.981475,10.211434,27.874383,28.195857,0.546397,15.862548,...,14.722796,40.484236,11.524992,29.606205,2.258480,2157.070713,0.160249,20.725549,15.416494,18.163395
min,1.049516,0.174000,0.0,0.670000,16.000000,0.000000,16.000000,0.000000,0.000000,23.000000,...,19.359000,20.463200,27.300000,28.753600,2011.000000,-6250.000000,0.000000,15.000000,20.000000,17.000000
25%,3.795078,0.426000,0.0,2.300000,21.250000,21.235600,52.250000,52.049350,0.000000,33.250000,...,27.775000,74.372500,37.200000,82.425000,2017.000000,-1750.000000,0.000000,28.000000,34.000000,31.000000
50%,6.422289,3.745568,0.0,3.000000,27.000000,26.709250,68.000000,67.567800,0.000000,47.500000,...,35.700000,95.800000,43.149900,102.650000,2019.000000,-500.000000,0.000000,37.000000,40.000000,38.000000
75%,8.252344,5.274757,0.0,3.000000,37.000000,37.292000,98.000000,97.784775,0.000000,59.750000,...,51.325000,141.250000,52.125100,132.300000,2020.000000,1750.000000,0.000000,57.000000,55.750000,57.750000
max,14.386492,18.311667,0.0,9.000000,55.000000,55.220600,145.000000,145.083500,5.350000,80.000000,...,78.819700,207.262200,73.652500,173.143600,2021.000000,3000.000000,2.300000,97.000000,81.000000,88.000000

In [46]:
df['evMotor'].value_counts().sum()

1158